textarea{
    background-color: darkcyan;
}

button{
    background-color: gray;
    border: 0px;
}
button:hover{
    background-color: darkcyan;
    border: 0px;
}

a{
       color: white;
}
a:hover{
    color: darkcyan;
}
