<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Practica2compi1</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/resourses/WisonIcon.png">
  <%- include ('plantillas/heads.html')%>  
</head>

<body style="background-color: darkslategrey;">
  <%- include ('plantillas/nav.html')%>
  <div class="container">
    <form>
      <div class="mb-3">
        <label class="form-label" style="color: white;font-size: larger;"></label>
        <textarea id="textWison" name="textWison" class="form-control" rows="15"></textarea>
      </div>
      <button type="submit" class="btn">Generar Analizador</button>
    </form>
    <form>
      <div class="mb-3">
        <label for="textParse" class="form-label" style="color: white; font-size: larger;"></label>
        <textarea class="form-control" id="textParse" name="textParse" rows="15"></textarea>
      </div>
      <button type="submit" class="btn">Parse</button>
    </form>

  </div>
  <br>
  <%-include ('plantillas/footer.html')%>  
</body>

</html>